<div class="row">
  <div class="col-md-12">
    <h1 class="text-center bg-info">My Cart</h1>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3" *ngFor="let item of _cartService.list; let i=index" >
      <div class="card" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWnWKdgDmv7J_InHnD0ffeB73TAuYD0YvU7Q&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.productId}}</h5>
          <p class="card-text">Count: {{item.amount}}</p>
        </div>
        <div class="card-body">
          <button class="btn btn-outline-danger">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
